### Working On Brain Tumor Dataset

##### Import Librabies

In [13]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#### load dataset

In [14]:
df=pd.read_csv("data.csv")
df.sample(5)

,Unnamed: 0,X53416,M83670,X90908,M97496,X90908.1,U37019,R48602,T96548,X64559,...,H87456,R64130,H11125.1,U22055,L22524,M13699.1,X54489,T55008,M10065.2,y
34,34,68,718,-50,1816,-28,251,38,598,73,...,47,-2,190,3,0,8,21,22,-214,Normal
11,11,-359,-41,-2,67,20,18,25,8,-8,...,66,6,67,59,27,1505,51,-9,-75,tumor
6,6,225,118,-5,175,-40,108,54,272,32,...,64,-3,142,55,202,-23,110,7,-14,tumor
30,30,1760,320,-8,917,-2,1060,473,1472,226,...,62,6,71,34,1,-1,19,-10,-1,Normal
21,21,462,379,-21,1128,3,229,180,684,104,...,17,-3,94,-4,8,0,10,-5,66,Normal

In [15]:
df.isnull().sum()

Unnamed: 0    0
X53416        0
M83670        0
X90908        0
M97496        0
             ..
M13699.1      0
X54489        0
T55008        0
M10065.2      0
y             0
Length: 7466, dtype: int64

In [16]:
df.nunique()

Unnamed: 0    36
X53416        36
M83670        35
X90908        25
M97496        36
              ..
M13699.1      25
X54489        29
T55008        23
M10065.2      35
y              2
Length: 7466, dtype: int64

In [17]:
df.describe()

,Unnamed: 0,X53416,M83670,X90908,M97496,X90908.1,U37019,R48602,T96548,X64559,...,D14657,H87456,R64130,H11125.1,U22055,L22524,M13699.1,X54489,T55008,M10065.2
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,...,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,17.500000,378.750000,177.305556,128.027778,568.305556,93.555556,366.833333,140.166667,644.194444,73.444444,...,31.750000,71.111111,35.694444,53.194444,38.388889,40.944444,41.222222,57.027778,58.694444,44.027778
std,10.535654,648.716067,243.494655,787.935802,637.451928,557.527370,427.166645,171.443202,685.514231,88.504219,...,50.036201,118.940748,127.437115,269.630628,47.619490,83.763935,251.147778,71.322001,336.030766,224.891782
min,0.000000,-694.000000,-117.000000,-50.000000,8.000000,-54.000000,-6.000000,-18.000000,-8.000000,-8.000000,...,-21.000000,-24.000000,-12.000000,-1484.000000,-73.000000,-16.000000,-23.000000,-5.000000,-17.000000,-214.000000
25%,8.750000,-95.750000,-31.000000,-13.250000,47.250000,-7.000000,27.250000,17.750000,33.250000,8.250000,...,1.500000,9.000000,-1.250000,59.250000,12.750000,3.500000,-4.750000,7.000000,-5.000000,-72.750000
50%,17.500000,194.500000,117.000000,-4.500000,293.500000,3.000000,110.500000,37.500000,333.500000,37.500000,...,10.000000,55.500000,3.000000,94.000000,36.000000,7.000000,0.000000,20.000000,1.500000,-12.000000
75%,26.250000,721.750000,330.500000,14.000000,1079.250000,10.250000,675.000000,268.500000,1185.250000,107.750000,...,48.000000,78.750000,6.000000,121.250000,64.000000,39.500000,6.500000,98.250000,7.000000,74.250000
max,35.000000,1815.000000,718.000000,4723.000000,2261.000000,3344.000000,1354.000000,718.000000,2203.000000,357.000000,...,156.000000,686.000000,686.000000,251.000000,138.000000,444.000000,1505.000000,271.000000,2018.000000,1089.000000

In [18]:
df.shape

(36, 7466)

### Split data into X and y

In [19]:
X=df.drop("y",axis=1)

In [20]:
X.columns

Index(['Unnamed: 0', 'X53416', 'M83670', 'X90908', 'M97496', 'X90908.1',
       'U37019', 'R48602', 'T96548', 'X64559',
       ...
       'D14657', 'H87456', 'R64130', 'H11125.1', 'U22055', 'L22524',
       'M13699.1', 'X54489', 'T55008', 'M10065.2'],
      dtype='object', length=7465)

In [21]:
X.shape

(36, 7465)

In [22]:
y=df['y']
y.head()

0    tumor
1    tumor
2    tumor
3    tumor
4    tumor
Name: y, dtype: object

In [29]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10)
model.fit(X,y)


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

prediction=model.predict(X_test)
prediction

array(['tumor', 'tumor', 'tumor', 'tumor', 'tumor', 'tumor', 'Normal',
       'Normal'], dtype=object)

In [25]:
score=model.score(X_test,y_test)
print(" Score is ", score)

 Score is  1.0

In [26]:
from sklearn import metrics
print("Accuracy is " , metrics.accuracy_score(y_test,prediction))

Accuracy is  1.0

In [28]:
cm=metrics.confusion_matrix(y_test,prediction)
cm

array([[6, 0],
       [0, 2]], dtype=int64)