In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("data.csv")
df.sample(5)

,Unnamed: 0,X53416,M83670,X90908,M97496,X90908.1,U37019,R48602,T96548,X64559,...,H87456,R64130,H11125.1,U22055,L22524,M13699.1,X54489,T55008,M10065.2,y
27,27,1412,288,-21,731,8,673,298,1033,179,...,9,6,101,-73,6,1,8,-5,39,Normal
10,10,133,45,-11,72,5,45,34,175,-2,...,686,0,84,75,4,-11,14,6,64,tumor
1,1,108,-30,-7,60,0,24,8,113,-3,...,186,6,60,93,140,-3,271,-1,-51,tumor
32,32,164,330,-13,721,12,504,154,1381,78,...,-18,1,-1484,-4,-1,-1,3,-5,-63,Normal
31,31,488,564,-29,1303,-9,1236,265,2203,41,...,16,0,109,21,6,-15,11,7,-145,Normal

In [3]:
X=df.drop("y",axis=1)
y=df['y']

In [5]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestClassifier(n_estimators=10)
model.fit(X,y)


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

prediction=model.predict(X_test)
prediction

array(['tumor', 'Normal', 'Normal', 'tumor', 'Normal', 'tumor', 'tumor',
       'Normal'], dtype=object)

In [6]:
score=model.score(X_test,y_test)
print(" Score is ", score)

 Score is  1.0

In [7]:
from sklearn import metrics
print("Accuracy is " , metrics.accuracy_score(y_test,prediction))

Accuracy is  1.0